extends ../_master

block scripts
block head
    title All Animals Page
block body
    h1 All Animals
    ol.petsList
        each pet in context
            li
                p(style='display:none;')
                    inline.id
                        =pet.id
                    input(name="_id" style='display:none;')
                p
                    strong Pet Name:
                    inline
                        = ' ' + pet.name
                p
                    strong Pet Type:
                    inline
                        = ' ' + pet.type
                p
                    strong Pet Breed:
                    inline
                        = ' ' + pet.breed
                p
                    strong Pet Birth Date:
                    inline
                        = ' ' + pet.birthDate
                p
                    strong Pet Owner:
                    inline
                        = ' ' + pet.owner
                p
                    strong Owner Address:
                    inline
                        = ' ' + pet.ownerAddress + ' '
                    input.ownerAddress(name="ownerAddress" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                p
                    strong Owner Phone:
                    inline
                        = ' ' + pet.ownerPhone + ' '
                    input.ownerPhone(name="ownerPhone" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                p
                    strong Pet Check Up:
                    inline
                        = ' ' + pet.checkUp + ' '
                    input.checkUp(name="checkUp" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                button.btn.btn-default(style='display:none;')
                    | Cancel
                button.btn.btn-success(style='display:none;')
                    | Update
            br
    script(src="/static/js/allAnimals.controller.js")
