extends ../_master

block scripts
    script(src="libs/bootstrap-3-typeahead/bootstrap3-typeahead.js")
block head
    title All Animals Page
block body
    h1 All Animals
    fieldset.mce-i-searchreplace(align='center')
        input#search(type='text', required name="search" placeholder="Search by username..." autocomplete="off")
        button#searchBtn.mce-i-searchreplace
            | Search
    ol.petsList(style='display:none;')
        each pet in context
            li(id = pet.id)
                p
                    strong Pet Name:
                    inline
                        =pet.name
                p
                    strong Pet Type:
                    inline
                        =pet.type
                p
                    strong Pet Breed:
                    inline
                        =pet.breed
                p
                    strong Pet Birth Date:
                    inline
                        =pet.birthDate
                p
                    strong Pet Owner Username:
                    inline.username
                        =pet.ownerUsername
                p
                    strong Owner Address:
                    inline
                        =pet.ownerAddress
                    input(name="ownerAddress" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                p
                    strong Owner Phone:
                    inline
                        =pet.ownerPhone
                    input(name="ownerPhone" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                p
                    strong Pet Check Up:
                    inline
                        =pet.checkUp
                    input(name="checkUp" style='display:none;')
                    img.edit(src='/static/img/icons/edit.png', style='width:15px')
                    img.ok(src='/static/img/icons/ok.png', style='display:none; width:17px')
                button.btn.btn-default(style='display:none;')
                    | Cancel
                button.btn.btn-success(style='display:none;')
                    | Update
            br
    script(src="/static/js/controllers/allAnimals.controller.js")
