extends ../_master

block scripts
block head
    title Create Animal Page
block body
    h1 Create Animal
    != messages()

    form(action="/animals", method="POST")
        p
            | Pet Name
            input.form-control(name="name" required type="text" placeholder="Enter Pet Name")
        p
            | Pet Type
            input.form-control(name="type" required type="text" placeholder="Enter Pet Type")
        p
            | Pet Breed
            input.form-control(name="breed" required type="text" placeholder="Enter Pet Breed")
        p
            | Pet Birth Date
            input.form-control(name="birthDate" required type="text" placeholder="Enter Pet Birth Date")
        p
            | Pet Owner
            input.form-control(name="owner" required type="text" placeholder="Enter Pet Owner")
        p
            | Owner Address
            input.form-control(name="ownerAddress" required type="text" placeholder="Enter Owner Address")
        p
            | Owner Phone
            input.form-control(name="ownerPhone" required type="text" placeholder="Enter Owner Phone")
        p
            | Check Up
            input.form-control(name="checkUp" required type="text" placeholder="Enter Pet Check Up")
        button.btn.btn-success
            | Create
    
    script(src="/static/js/createAnimal.js")
