extends _master

block scripts

block head
   title Contact Us Page
block body
    h1 Google Static Map
    img(width='640', src='https://maps.googleapis.com/maps/api/staticmap?center=sofia+mladost+malinov+31&zoom=18&scale=1&size=640x640&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Csofia+mladost+malinov+31', alt='Google Map of sofia mladost malinov 31')
    br
    img(src="../static/img/OurDoctors/quinn.jpg" width="400" height="400")
    span asd
    br
    img(src="../static/img/OurDoctors/radeva.jpg" width="400" height="400")
    br
    img(src="../static/img/OurDoctors/rosiKirilova.jpg" width="400" height="400")
    br
    img(src="../static/img/OurDoctors/kyci.jpg" width="400" height="400")
    br
    img(src="../static/img/OurDoctors/uti.jpg" width="400" height="400")