.navbar-header a {
    padding-top: 0.8rem;
}

.edit, .ok {
    cursor: pointer;
}

.btn-default {
    display: inline-block;
    margin-right: 30px;
    float: left;
}

.btn-success {
    display: inline-block;
}

p > inline {
    margin-left: 5px;
    margin-right: 5px;
}

ol {
    list-style-type: none;
}