mixin nav()
    ul
        li
            a(href='/')
                | Home
        li
            a(href='/createAnimal')
                | Create Animal
        li
            a(href='/allAnimals')
                | All Animals