mixin nav()
    ul
        li
            a(href='/')
                | Home
        li
            a(href='/test')
                | Test
        li
            a(href='/notFound')
                | Not Found